@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/dosis/v17/HhyJU5sn9vOmLxNkIwRSjTVNWLEJt7Ml2xMB.ttf) format('truetype');
}
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dosis/v17/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMB.ttf) format('truetype');
}

.compass {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    position: relative;
    font-family: "Dosis";
    color: #555;
    text-shadow: 1px 1px 1px white;
}
.compass:before {
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14px;
    top: -2px;
}
.compass .direction {
    height: 100%;
    width: 100%;
    display: block;
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    border-radius: 100%;
}
.compass .direction p {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 80px;
    display: block;
    margin-top: -45px;
    font-size: 28px;
    font-weight: bold;
}
.compass .direction p span {
    display: block;
    line-height: normal;
    margin-top: -24px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
}
.compass .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}
.compass .arrow:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    z-index: 99;
}